#selfpicture{
    float: right;
    width: 12em;
    height: 15em;
    margin: 1em 2em 2em 2em;
    border: 3px solid black;
}

#ravens-logo{
    float: left;
    height: 10em;
    width: 13em;
}

#ACR{
    border: 2px solid black;
    width: 15em;
    height: 25em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1em;
    margin-right: 1em;
    float: right;
}

#ACR1{
    border: 2px solid black;
    height: 10em;
    width: 15em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}

#ACR2{
    border: 2px solid black;
    width: 15em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}

#ACR3{
    border: 2px solid black;
    width: 20em;
    height: 30em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
}

#mainimage{
    width:20em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    margin-bottom: 4em;
}

#dollarsign{
    float: right;
    width: 10em;
    height: 10em;
    
}

#spreadsheet{
    float: left;
    padding-right: 1em;
    height: 8em;
}

#excel{
    border: 2px solid black;
    width: 25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#excelbudget{
    border: 2px solid black;
    width: 15em;
    margin-left: 2em;
    float: right;
    margin-right: 1em;
}

#excelFT{
    border: 2px solid black;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#excelB2{
    border: 2px solid black;
    width: 15em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#excelB3{
    border: 2px solid black;
    width: 15em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1em;
}

#style{
    float: right;
    width: 12em;
    height: 10em;
    margin: 1em 2em 1em 2em;
}

#priority{
    float: left;
    width: 12em;
    height: 10em;
    margin: 1em 2em 1em 2em;
}