body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    color: black;
    background-image: url(images/background1.jfif);
    background-position: center;
}

header,
h2,
h3,
h4,
footer{
    text-align: center;
}

header,
p,
ol
ul,
li,
div{
    max-width: 51em;
}

table{
    table-layout: fixed;
    width: 100%;
    background-color: lightgray;
}

th>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: lightgray;
}

th:hover{
    background-color: rgb(202, 183, 76);
}

th>a:hover{
    background-color: rgb(202, 183, 76);
}

h1{
    font-size: 4em;
    margin: 0%;
    font-family: Papyrus;
}

h2{
    font-size: 2em;
    color: rgb(150, 38, 150);
}

h3{
    font-size: 1.5em;
}

p,
ol
ul,
li,
div{
    font-size: 16px;
    line-height: 1.75;
    margin-left: auto;
    margin-right: auto;
}

p,
ol
ul,
li{
    padding-left: 1em;
    padding-right: 1em;
}

figure{
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    float: left;
}
